/* In Account.css */
.account-container {
    text-align: center;
    margin-top: 50px;
}

.account-title {
    color: #007bff; /* Bootstrap primary color */
}

.account-details {
    margin-top: 20px;
}

.account-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.account-value {
    font-size: 18px;
    color: #333; /* Dark text color */
}
