#tournamentsTable th {
    text-align: center;
    vertical-align: middle;
}

.center-titles th {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: left;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns:  80% 20% ;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header2"
    "main main"
    "footer footer";
}

.buttons {
    grid-area: header;
}

.center-table {
    grid-area: main;
}
