

.sponsor-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sponsor-div {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (min-width: 576px) {
    .sponsor-card {
        flex: 1 0 32%; /* Adjust based on the number of sponsors you want to display per row */
        max-width: 32%;
    }
}

.tournament-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 80%;
}

.tournament-details {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    height: 300px;
    width: 100%;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.participants-list {
    max-height: 150px;
    overflow-y: auto;

    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


